#bestilling {
    display: flex;
    flex-direction: column;
}

#bestilling input {
    width: 190px;
}

#bestilling button {
    width: 80px;
    margin: 22px;
}

#bestilling * {
    padding: 5px;
    font-size: 16px;
}

h1, #bestilling *{
    font-family: 'Montserrat', sans-serif;
    margin:5px 25px;
}
